/**
  * @author: Nicholis Wright
  *This file is the css sheet to have a better design for the GUI.
  *All of these are needed for styling but give errors
  * */

/*noinspection CssUnusedSymbol*/
.root {
  -fx-background-image: url("appBackground.jpg");
  -fx-font-family: "Agency FB";
  -fx-font-size: 15pt;
  -tab-text-color: black;
}

/**noinspection ALL*/
/*noinspection CssUnusedSymbol*/
.button {
  -fx-background-color: linear-gradient(#BBD2C5, #536976);
  -fx-background-radius: 100;
  -fx-border-radius: 100;
  -fx-text-fill: black;
  -fx-border-color: black;
}


/*noinspection CssUnusedSymbol*/
.tab {
  -fx-background-color: linear-gradient(#BBD2C5, #536976);
  -fx-background-radius: 100;
  -fx-border-radius: 100;
  -fx-border-color: black;
  -fx-text-fill: black;
  -fx-focus-color: transparent;
}


/*noinspection CssUnusedSymbol*/
.text-area {
  -fx-background-color: antiquewhite;
  -fx-background-radius: 0;
}

/*noinspection CssUnusedSymbol*/
.tab-pane > .tab-header-area > .tab-header-background {
  -fx-background-color: linear-gradient(#BBD2C5, #536976);
}